// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import'./_hero-slider.scss';

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

.top-nav {
    background-color: rgb(51, 49, 49);
    padding: 5px 115px;
    // margin: 0 75px;
    position: relative;
    z-index: 999;

    @include lg {
        padding: 10px;
        margin: 0 20px;
    }
    
    a {
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
        padding-right: 15px;
        i {
            padding-right: 10px;
        }
    }
   
}

#wrapper-navbar {
    
    position:sticky;
    // margin: 0 75px;
    top:0;
    z-index:99;
    
    @include lg {
        padding: 0;
        margin: 0 20px;
    }
    
    #main-nav {
        padding: 0 105px 0 105px;
        background-color: #ffffff;
        margin: 0;
        height: 70px;
        transition: height 0.8s;
        transition: background-color 0.8s;
        transition: margin 0.8s;

        border-bottom-right-radius:5px;
        border-bottom-left-radius:5px;
        position: relative;
        display: flex;
        justify-content: space-between;
        
        @include lg {
            padding: 0;
            ul {
                margin-top: -8px;
                li {
                    background-color: white;
                    padding: 0 20px;
                    a {
    
                        border-bottom: 1px solid rgb(190, 186, 186);
                    }
                }
            }
            
        }
        @include sm {
            .input-group {
                display: none;
            }
        }
        &.black {
            background-color: rgba(207, 207, 207, 0.9);
            // padding: 10px 0;
            height: 60px;
            margin: 0 75px;
            @include lg {
                margin: 0 30px;
            }
            @include md {
                margin: 0 10px;
            }
        }
        a {
            color: rgb(83, 83, 83);
            &:hover {
                color: darken(rgb(83, 83, 83), 20%);
            }
        }
        .navbar-brand {
            @include lg {
                padding-left: 20px;
            }
            img {
                width: 120px;
                height: auto;
                @include lg {
                    width: 100px;
                    height: 60px;
                }
                @include md {
                    width: 80px;
                    height: 60px;
                }
            }
        }
        .navbar-toggler {
            
            background-color: grey;
            padding: 10px;
            // position: absolute;
            // top: 10px;
            // right: 20px;
            @include lg {
                // top: 5px;
                order: 1;
                height: 40px;
                
            }
           
            span {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include lg {
                    // top: 5px;
                    
                    height: 1em;
                }
                .bar {
                    height: 4px;
                    border-radius: 4px;
                    background-color: white;
                   
                }
            }
        }
        .navbar-collapse {
            @include lg {
                // top: 5px;
                order: 2;
                
                
            }
        }
    
    }
    #s {
        background-color: transparent;
    }
    
}

.main {
    // background-color: grey;
}

.hero-section {
    width: 100%;
    .carousel-item img {
        width: 100%;
    }
    
}
.h2-home-page {
    text-align: center;
    font-size: 42px;
    font-weight: 300;
    color: $purple-400;
    padding-top: 100px;
}
.under-title-text {
    text-align: center;
    font-size: 24px;
    color: #999999;
    font-weight: 300;
    padding-top: 0;
}


.call-to-action-container {
    min-height: 800px;
    width: 100%;
    background-position: top;
    background-size: cover;
    margin-top: 20px;
    
    
    &-description {
        text-align: center;
        font-size: 18px;
        padding: 20px 0;
        font-weight: 300;
        color: rgb(68,68,68);
        
        
    }
    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        @include md {
            grid-template-columns: 1fr;
            column-gap: 0px;
            row-gap: 20px;

            .call-to-action-card {
                background-color: rgba(255, 255, 255, 0.5);
                border-radius: 5px;
                
            }
        }
        .icon-box, .card-title, .card-description {
            text-align: center;
            font-weight: 300;
        }
        .icon-box {
            padding-bottom: 20px;
        }
        .card-description {
            font-size: 14px;
        }
        

    }
}

// ========== Listing Items Styles ====================

.list-items {
    // margin-top: 100px;
}

.listing-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 20px;
    @include md {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .listing-item-container {
        box-shadow: 0 0 2px grey;
        &.hidden {
            display: none;
        }
    }
    .listing-item-title a{
        font-size: 20px;
        color: grey;
        &:hover {
            text-decoration: none;
        }
    }
    .listing-item-excerpt  {
        &>a {
            color: #999999;
            font-size: 14px;
            font-weight: 300;
            &:hover {
                text-decoration: none;
            }
        }
        p {
            .btn {
    
                display: none;
            }
            a:after {
                display: block;
                content: 'Read more...';
                
            }
        }

    }
    .listing-item-img {
        overflow: hidden;
        img {
            transform: scale(1.3);
            transition: transform 0.7s;
            &:hover {
                transform: scale(1);
            }
        }
    }
    .listing-item-text {
        padding: 20px;
    }
}
.hidden {
    display: none;
}

// =============== testimonials slider ===============
.testimonial-section {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &-title {
        text-align: center;
        font-size: 42px;
        font-weight: 300;
        color: white;
        padding-top: 100px;
        margin: 0;
    }
    &-undertitle {
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 22px;
        margin-bottom: 1em;
    }
}

.testimonials-container {
    position: relative;
    margin-top: 100px;
}

.testimonials-listing-container {
    position: relative;
    background-color: rgba(34, 31, 31, 0.7);
    width: 500px;
    min-height: 180px;
    @include sm {
        width: 90%;
        min-height: 220px;
    }
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    

    .listing-item-container {
        position: absolute;
        top: 10px;
        left: 50%;
        // transform: translateY(-50%);
        transform: translateX(-50%);
        
        opacity: 0;
        transition: opacity 0.5s;
        ;

        &.active {
            opacity: 1;
        }
    }

    .listing-item-img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        margin: auto;
        img {
            width: 100%;
            height: auto;


        } 
    }
    .listing-item-text {
        text-align: center;
        color: white;
        font-weight: 300;
        
        .listing-item-excerpt {
            font-style: italic;
            p {
                display: inline;
                
            }
        }
    }
    
}
.bullets-container-first {
    margin-top: 100px;
   
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .bullet {
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: $primary;
        margin-right: 10px;
        border: 1px solid  $primary;
        transition: background-color 0.5s;
        cursor: pointer;
        overflow: hidden;

        &.active {
            background-color: white;
        }
        &.bullet {
            &::before {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                
            }
        }

    }


}


// =========== Subscribe form css ==============

.subscribe-form-container {
    padding: 100px 0;
    background-color: rgb(248,248,248);
    .subscribe-section-title {
        text-align: center;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.subscribe-form-container {
    .wpcf7-form {
        display: flex;
        justify-content: center;
        p {
            margin: 0;
        }
        @include md {
            display: block;
            p {
                text-align: center;
            }
            
        }
        
        
    }
    .wpcf7 input[type=email] {
        width: 300px;
        margin-right: 10px;
        @include md {
            width: 90%;
            margin: auto;
        }
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(204, 200, 200);
            font-weight: 300;
            opacity: 1; /* Firefox */
          }
          
         &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(204, 200, 200);
          }
          
          &::-ms-input-placeholder { /* Microsoft Edge */
            color: rgb(204, 200, 200);
          }
    }
    .wpcf7 input[type=submit] {
        width: 100px;
        border: none;
        background-color: $primary;
        color: white;
        &:hover {
            background-color: darken($primary, 15%);
        }
        @include md {
            margin-left: 50px;
        }
    }
   
   

}

// ============ Footer CSS ================

.footer-container {
    position: relative;
    
    #media_image-2 {
        img {
            max-width: 150px !important;
        }
    }
    .menu {
        list-style: none;
        a {
            color: #ffffff;
            font-weight: 300;
            font-size: 14px;
        }
    }
    .footer-widget {
        display: flex;
        // justify-content: center;
        div {
            display: flex;
            align-items: center;
        }
    }
    #media_image-3 {
        position: absolute;
        right: 50px;
        bottom: 0;
        @include sm {
            display: none;
        }
    }
}

#wrapper-footer-full {
    background-color: rgb(64,136,218);
}

.wrapper.bottom-footer {
    background-color: rgb(50,105,169);
    padding: 20px;
    p {
        margin: 0;
        text-align: center;
        font-size: 12px;
        font-weight: 300;
        color: rgb(197, 194, 194);
    }
}

// ================= Contact Page CSS ==================

.contact-hero-section {
    margin-top: -70px;
    padding: 190px 0 120px 0;
    
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./../img/sub_header_general.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #ffffff;
    h1 {
        font-size: 42px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .under-title-text {
    color: #ffffff;

    }
}
.form-and-sidebar-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;

    .form-wrapper {
        h2 {
            font-weight: 300;
        }
        width: 70%;
        padding: 20px;
        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
            p:nth-child(6) {
               grid-column-start: 1;
               grid-column-end: 3;
            }
            input[type=submit] {
                color: white;
                background-color: $primary;
                &:hover {
                    background-color: darken($primary, 15%);
                }
            }
        }
    }
    .sidebar-wrapper {
        width: 30%;
        padding: 20px;
        background-color: rgb(247, 244, 244);
        margin-bottom: 70px;
        p {
            font-weight: 300;
            margin: 0;
            i {
                padding-right: 10px;
                color: $primary;
            }
        }
        .address-wrapper {
            padding-top: 20px;
            border-top: 2px solid rgb(226, 221, 221);
        }
        .contacts-wrapper {
            padding-bottom: 20px;
        }
        .social-icon-box {
            font-size: 24px;
            padding-top: 20px;
            a {
                margin-right: 10px;
            }
        }
    }
}
.map-wrapper {
    margin-bottom: -5px;
    margin-top: 50px;
    iframe {
        width: 100%;
        height: 400px;
    }
}

// ========== Single Book CSS ================

.post-main-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.single-post-title {
    font-weight: 300;
    color: $purple-400;
    padding-bottom: 20px;
    margin-top: 100px;
}
.post-navigation {
    margin-bottom: 100px;
    margin-top: 20px;
}

// ========== Archive Books CSS ================
.archive-page-hero-section {
    margin-top: -70px;
    padding-bottom: 150px;
    padding-top: 220px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./../img/sub_header_short.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: #ffffff;

}

article.books {
    margin-top: 50px;
    padding: 20px ;
    &:nth-child(2n+0) {
        background-color: rgb(231, 228, 228);

        // img {
        //     order: 2;
        //     justify-self: left;
        // }
    }
    &:nth-child(2) {
        margin-top: 100px;
    }
   
    .single-item-title {
        text-align: center;
        margin-bottom: 20px;
        a {
            font-weight: 300;
            color: $purple-400;
        }
    }
    .single-item-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        @include md {
            grid-template-columns: 1fr;
            column-gap: 0;
        }
        img {
            justify-self: right;
        }
        .btn-secondary {
            background-color: $primary;
                    &:hover {
                        background-color: darken($primary, 15%);
                    }
        }
    }
}